.gradient-bg {
  background: #1D65D1 ;
background: radial-gradient(circle, rgba(29, 101, 209, 1) 53%, rgba(24, 79, 161, 1) 100%);
}
.shadow{
box-shadow: inset 5px 2px 10px #e6eefa, inset -5px 2px 10px #e6eefa;
}

@theme{
  --breakpoint-xs:350px;
}
