.gradient-bg {
  background: #1D65D1 ;
background: radial-gradient(circle, rgba(29, 101, 209, 1) 53%, rgba(24, 79, 161, 1) 100%);
}
.shadow-top {
  box-shadow: 0 -5px 10px #e6eefa; /* X offset | Y offset | blur | color */
}

@theme{
  --breakpoint-xs:350px;
}
